div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: transparent;
   color: #000000;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 15px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Text7 
{
   border: 2px #C0C0C0 outset;
   -moz-border-radius: 1px;
   -webkit-border-radius: 1px;
   border-radius:1px;
   margin: 0;
}
#Text1 
{
   border: 2px #C0C0C0 outset;
   -moz-border-radius: 1px;
   -webkit-border-radius: 1px;
   border-radius:1px;
   margin: 0;
}
#Blog1
{
   background-color: transparent;
   border: 1px solid #808080;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   text-align: left;
}
#Blog1 .blogitem
{
   background-color: #EEEEEE;
   margin-bottom: 6px;
   padding: 0px;
}
#Blog1 .blogdate
{
   font-family: Tahoma;
   font-weight: bold;
   font-size: 15px;
   color: #000000;
}
#Blog1 .blogsubject, #Blog1 .blogsubject a:link, #Blog1 .blogsubject a:visited, #Blog1 .blogsubject a:hover
{
   font-family: Tahoma;
   font-weight: bold;
   font-size: 15px;
   color: #666666;
   text-decoration: none;
}
#Blog1 .blogcomments, #Blog1 .blogcomments a:link, #Blog1 .blogcomments a:visited, #Blog1 .blogcomments a:hover
{
   font-family: Tahoma;
   font-weight: normal;
   font-size: 15px;
   color: #000000;
   text-decoration: underline;
}
#Blog1 .blogcomments
{
   text-decoration: none;
}
#Blog1 .no-thumb
{
   display: none;
}
#Blog1 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Blog1 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Blog1 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
}
#wb_Carousel1
{
   background-color: #F5F5F5;
   background-image: none;
   border: 1px #F5F5F5 solid;
   -moz-border-radius: 1px;
   -webkit-border-radius: 1px;
   border-radius: 1px;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#wb_Carousel1
{
   font-size: 0;
}
#Carousel1 .frame
{
   width: 970px;
   display: inline-block;
   overflow: hidden;
   height: 448px;
}
#Carousel1 .innerframe
{
   display: inline-block;
   height: 0;
   left: 0;
   margin-left: 0;
   position: absolute;
   top: 0;
   width: 970px;
}
#wb_Carousel1 .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 998;
}
#wb_Carousel1 .pagination img
{
   border-style: none;
   padding: 12px 12px 12px 12px;
}
#Carousel1 .frame-1
{
   background-color: #DCDCDC;
   background-image: none;
}
#Carousel1 .frame-2
{
   background-color: #E6E6FA;
   background-image: none;
}
#Carousel1 .frame-3
{
   background-color: #87CEFA;
   background-image: none;
}
#Carousel1 .frame-4
{
   background-color: #48D1CC;
   background-image: none;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text2 div
{
   text-align: right;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text3 div
{
   text-align: right;
}
#Image1
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   -webkit-animation: animate-border 800ms linear 2ms 0 normal;
   -moz-animation: animate-border 800ms linear 2ms 0 normal;
   animation: animate-border 800ms linear 2ms 0 normal;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text4 div
{
   text-align: right;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text5 div
{
   text-align: right;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text6 div
{
   text-align: right;
}
#Image2
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image4
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image5
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Table1
{
   border: 2px #C0C0C0 solid;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
}
#Table1 td
{
   padding: 0px 0px 0px 0px;
}
#Table1 td div
{
   white-space: nowrap;
}
#Table1 .cell0
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 47px;
   height: 46px;
}
#Table1 .cell1
{
   background-color: transparent;
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   height: 46px;
}
#Line1
{
   color: #4169E1;
   background-color: #4169E1;
   border-width: 0;
   margin: 0;
   padding: 0;
   -moz-box-shadow: 0px 0px 2px #87CEFA;
   -webkit-box-shadow: 0px 0px 2px #87CEFA;
   box-shadow: 0px 0px 2px #87CEFA;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text8 div
{
   text-align: center;
}
#MegaMenu2
{
   float: left;
   list-style: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#MegaMenu2 *
{
   font-family: Tahoma;
   font-weight: normal;
   font-size: 17px;
}
#MegaMenu2 li
{
   float: left;
   margin: 0;
   padding: 0;
   position: relative;
}
#MegaMenu2 li a
{
   float: left;
}
#MegaMenu2 li .submenu
{
   display: none;
   float: left;
   left: 0;
   padding: 15px 15px 15px 15px;
   position: absolute;
   top: 0;
}
#MegaMenu2 li .row
{
   clear: both;
   float: left;
   margin-bottom: 10px;
   width: 100%;
}
#MegaMenu2 li .submenu ul
{
   float: left;
   list-style: none;
   margin: 0;
   padding: 0;
}
#MegaMenu2 .submenu ul li
{
   width: 100%;
}
#MegaMenu2 .submenu ul li h2
{
   font-weight: bold;
   font-style: normal;
   margin: 0;
   padding: 0;
   text-decoration: none;
}
#MegaMenu2 .submenu ul li h2
{
   background-image: none;
   background-color: transparent;
   border-width: 0;
   font-weight: bold;
   font-style: normal;
   padding: 5px 0;
   text-decoration: none;
}
#MegaMenu2 .submenu ul li h2 a:hover
{
   padding: 5px 0;
}
#MegaMenu2 .submenu ul li a
{
   display: block;
   float: none;
   font-weight: normal;
   font-style: normal;
   height: auto;
   padding: 7px 5px 7px 15px;
   text-decoration: none;
   text-indent: 0;
   white-space: nowrap;
}
#MegaMenu2 .submenu ul li a:hover
{
   border-style: solid;
   border-width: 1px;
   padding: 6px 4px 6px 14px;
}
#MegaMenu2 .submenu ul li a .ui-icon
{
   left: 0;
   margin-top: -8px;
   position: absolute;
   top: 50%;
   display: block;
   text-indent: -99999px;
   overflow: hidden;
   background-repeat: no-repeat;
   background-image: url(images/megamenu2_bullet.png);
   width: 16px;
   height: 16px;
}
#MegaMenu2 .button
{
   cursor: pointer;
   font-weight: bold;
   font-style: normal;
   margin: 0 2px 0 0;
   outline: 0;
   padding: 4px 20px 4px 8px;
   position: relative;
   text-align: center;
   text-decoration: none !important;
   color: #000000;
}
#MegaMenu2 .button:hover
{
   color: #FFFFFF;
}
#MegaMenu2 .button:active
{
   color: #FFFFFF;
}
#MegaMenu2 .ui-widget-content a
{
   color: #333333;
}
#MegaMenu2 .ui-widget-content a:hover
{
   color: #FFFFFF;
}
#MegaMenu2 a.active
{
   background-color: #337AB7 !important;
   background-image: url(/"images/ui-bg_glass_50_3baae3_1x400.png") !important;
   border-color: #245580 !important;
   color: #FFFFFF !important;
}
#MegaMenu2 .button .ui-icon
{
   left: auto;
   margin-top: -8px;
   margin-left: 0;
   position: absolute;
   right: 4px;
   top: 50%;
   display: block;
   text-indent: -99999px;
   overflow: hidden;
   background-repeat: no-repeat;
   background-image: url(images/megamenu2_button.png);
   width: 16px;
   height: 16px;
}
#MegaMenu2 .ui-state-default
{
   background-color: #F5F5F5;
   background-image: none;
   border: 1px #D3D3D3 solid;
   color: #000000;
}
#MegaMenu2 .ui-state-hover
{
   background-color: #337AB7;
   background-image: none;
   border-color: #245580;
   color: #FFFFFF;
}
#MegaMenu2 .ui-widget-content
{
   background-color: #DCDCDC;
   background-image: none;
   border: 1px solid #87CEFA;
   color: #333333;
}
#MegaMenu2.affix
{
   top: 0 !important;
   position: fixed !important;
   left: 50% !important;
   margin-left: -473px;
}
